<section id="welcome-index-moments-leader" class="jumbotron text-center">
  <a id="moments"><div class="container">
  <h1>Moments</h1>
  </div></a>
</section>

<section id="welcome-index-moments">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

      <h2><a id="gallery">Gallery</a></h2>
          
      <!-- For blueimp gallery -->
      <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-contain">
        <div class="slides" style="color:white"></div>
        <h3 class="title" style="color:white"></h3>
        <a class="prev" style="color:white">&lsaquo;</a>
        <a class="next" style="color:white">&rsaquo;</a>
        <a class="close" style="color:white">&times;</a>
        <a class="play-pause" style="color:white"></a>
        <ol class="indicator" style="color:white"></ol>
      </div>

      <div id="links" style="color:black;font-size:0;" align="left">

        <%= link_to image_tag("moments/thumbnails/IMG_20120900_1.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20120900_1.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20120900_2.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20120900_2.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20130830_ 23.13.46 NY trip.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20130830_ 23.13.46 NY trip.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20130831_ 13.15.09.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20130831_ 13.15.09.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20131231_ 05.30.48.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20131231_ 05.30.48.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20140409_ 19.52.09.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20140409_ 19.52.09.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20140411_ 22.12.20.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20140411_ 22.12.20.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20150509_135024.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20150509_135024.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20150912_201423.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20150912_201423.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20160422-WA0000.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20160422-WA0000.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20160717_193418_2.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20160717_193418_2.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20160811_201042.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20160811_201042.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20160816_050826.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20160816_050826.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20160817_160158.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20160817_160158.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20161015_152931.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20161015_152931.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20161214_192723.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20161214_192723.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20170111_133634.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20170111_133634.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20170816_215145.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20170816_215145.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20170821_142627.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20170821_142627.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20170905_131040.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20170905_131040.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20170914_201628.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20170914_201628.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20170914_201635.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20170914_201635.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20170916_163844.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20170916_163844.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20170922_151620.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20170922_151620.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20170927_192429.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20170927_192429.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20171029_132445.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20171029_132445.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20171108_084205.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20171108_084205.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180500_FB_IMG_1526491333451.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180500_FB_IMG_1526491333451.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180500_IMG_1110.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180500_IMG_1110.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180531_143425.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180531_143425.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180605_100211.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180605_100211.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180704_201653.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180704_201653.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180708_185648.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180708_185648.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180713_081842.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180713_081842.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180714_190526.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180714_190526.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180728_220155.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180728_220155.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20180818_173619.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20180818_173619.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20181108_213028.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20181108_213028.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20181113_104329.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20181113_104329.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20181113_160018.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20181113_160018.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20181113_160103.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20181113_160103.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20190105_135501.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20190105_135501.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20190209_131238.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20190209_131238.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20190430_143351.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20190430_143351.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20190501_093755.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20190501_093755.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20190505_092658.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20190505_092658.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20190508_163559.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20190508_163559.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20190509_103303.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20190509_103303.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20190510_125442.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20190510_125442.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/IMG_20190511_165711.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/IMG_20190511_165711.jpg"), :title => "" -%>

        <%= link_to image_tag("moments/thumbnails/proposal-1-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-1-large.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/proposal-2-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-2-large.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/proposal-3-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-3-large.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/proposal-4-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-4-large.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/proposal-5-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-5-large.jpg"), :title => "" -%>        
        <%= link_to image_tag("moments/thumbnails/proposal-6-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-6-large.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/proposal-7-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-7-large.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/proposal-8-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-8-large.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/proposal-9-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-9-large.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/proposal-10-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-10-large.jpg"), :title => "" -%>
        <%= link_to image_tag("moments/thumbnails/proposal-11-small.jpg", :alt => "p1", height: '75', width: '75'), image_url("moments/proposal-11-large.jpg"), :title => "" -%>        
      </div>

      <h2><a id="gallery_info">Info</a></h2>
      Please come back here after our wedding day to access more photos!

      <!-- <%= link_to 'Download Photos', image_url(""), "data-placement" => "bottom", 'data-toggle' => 'tooltip', class: 'btn btn-primary' %> -->

      <!-- For blueimp gallery -->
      <script>
      document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
      };
      </script>

      </div>
    </div>
    <div class="row">
    </div>
  </div>
</section>

