<section id="welcome-index-recommendations-leader" class="jumbotron text-center">
  <a id="favs"><div class="container">
  <h1>Things to do</h1>
  </div></a>
</section>

<section id="welcome-index-recommendations">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2><a id="rec_eats">Eats</a></h2>
      </div>
    </div>
    <div class="row">
    <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'https://marutama.ca/locations/', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_noodle' %>
      <%- end %></h2>
      <h3>Marutama Ramen</h3>
      <p>Originally established in Kawaguchi, Japan over 20 years ago, Marutama's savory broth with amplified umami is world famous and true to its origin.</p>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'http://www.fannybayoysters.com/location/oyster-bar--shellfish-market', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_seafood' %>
      <%- end %></h2>
      <h3>Fanny Bay Oyster</h3>
      <p>Taste locally farmed oysters and seafood in the heart of Vancouver's stadium district. We recommmend trying their grilled oysters with some truffle fries.</p>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'http://www.nerowafflebar.com/', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_brunch' %>
      <%- end %></h2>
      <h3>Nero Belgian Waffle</h3>
      <p>Nero's liege waffle is the buttery and savory treat you deserve for making the trip to Vancouver. You can come here for brunch and then come back for dessert.</p>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'https://eatmeet.ca/menu/', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_vegan2' %>
      <%- end %></h2>
      <h3>Meet at Yaletown</h3>
      <p>From Butter Chikkin to the Mighty Mac. Meet is truly one of the kind comfort food for everyone.</p>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'https://chinatownbbq.com/menu/', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_rice_fancy2' %>
      <%- end %></h2>
      <h3>Chinatown BBQ</h3>
      <p>Immerse yourself in a 1960s Hong Kong style restaurant, and enjoy some delicious barbecue (siu mei). We love pairing their 3 BBQ Meat Platter with the Gai Lan.</p>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'https://www.bellagelateria.com/our-menu/', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_icecream' %>
      <%- end %></h2>
      <h3>Bella Gelateria</h3>
      <p>Vancouver's award winning gelateria. Not all gelatos are created equally, and Bella's the best!</p>
    </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h2><a id="rec_places">places</a></h2>
      </div>
    </div>
    <div class="row">
    <!-- <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'https://www.burnaby.ca/explore-outdoors/parks/burnaby-lake-regional-nature-park', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_lake' %>
      <%- end %></h2>
      <h3>Burnaby Lake Park</h3>
      <p>A casual hike around Burnaby Lake brings you to the north side boardwalk filled with ducks, geese and cranes.</p>
    </div> -->
    <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'https://vancouverchinesegarden.com/home/', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_garden' %>
      <%- end %></h2>
      <h3>Sun Yat-Sen Chinese Garden</h3>
      <p>Modeled after Ming Dynasty private scholar's gardens in Suzhou, it is the first of its kind built outside of China. Enjoy the beauty of Gongshi (naturally shaped limestone), bonsai, flowers, and the company of a pair of turtles. </p>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'https://www.reifelbirdsanctuary.com/birds.html', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_bird' %>
      <%- end %></h2>
      <h3>George C. Reifel Migratory Bird Sanctuary</h3>
      <p>A great day hike around the famous bird sanctuary with seasonal and migratory birds. Red wing black birds, great blue herons, and black capped chickadees are some of our favourites.</p>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <h2><%= link_to 'https://www.vancouversnorthshore.com/explore/parks/lighthouse-park/', target: :_blank, rel: 'noopener', target: :_blank, rel: 'noopener' do -%>
        <%= render partial: 'rec_lighthouse' %>
      <%- end %></h2>
      <h3>Lighthouse Park</h3>
      <p>A beautiful hike in West Vancouver ending at a historical lighthouse with a great view of Vancouver and the UBC.</p>
    </div>
    </div>

  </div>
</section>

