<section id="welcome-index-when-where">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a id="when"></a>
        <h1>When &amp; Where</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <h2><%= link_to 'wedding.ics' do -%>
          <%= render partial: 'calendar_svg' %>
        <%- end %></h2>
        <p>
          <strong>4:00pm &ndash; 11:00pm</strong><br>
          <%= t :wedding_date %><br>
        </p>
        <p>Add to Calendar <br><%= link_to 'iCloud', "https://p71-caldav.icloud.com/published/2/MTYzMTE3ODM1NjE2MzExNwLZwUH2ZB9YQ3Jy9HoH3EB6JxkuRR2fQARDCWNpNACJWXtM44lT9BeJN6wbCOO6WKgG-baesx5igveODYlmHOQ", target: :_blank, rel: 'noopener' %>, <%= link_to 'Outlook', 'wedding.ics' %> or <%= link_to 'Google', 'https://calendar.google.com/event?action=TEMPLATE&tmeid=XzY4bzM0YzloNjBvamVsMWk2OG9qZ2QxamI4bWoyZTloNmNvMzBjMWs3MHNrMHJiMWU5cW04cnJrNXBobXVyOCBocGtzNnY0Zjc3OHUwcmFxMXVyajY3djJjNEBn&tmsrc=hpks6v4f778u0raq1urj67v2c4%40group.calendar.google.com', target: :_blank, rel: 'noopener' %></p>

      </div>
      <div class="col-md-6 text-center">
        <h2><%= link_to @google_maps_url do -%>
          <%= render partial: 'map_marker_svg' %>
        <%- end %></h2>
        <p>
          <%= render partial: 'wedding_address' %>
        </p>
        <p>
          <%= link_to 'Google Maps', @google_maps_venue_url, target: :_blank, rel: 'noopener' %>
        </p>
      </div>
    </div>
  </div>
</section>
