<section id="welcome-index-when-where">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>When &amp; Where</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <h2><%= link_to 'wedding.ics' do -%>
          <%= render partial: 'calendar_svg' %>
        <%- end %></h2>
        <p>
          <strong>4:00pm &ndash; 10:00pm</strong><br>
          <%= t :wedding_date %><br>
          &nbsp;<br>
        </p>
        <p>Add to <%= link_to 'Outlook Calendar', 'wedding.ics' %> or <br>
        <%= link_to 'Google Calendar', 'https://calendar.google.com/event?action=TEMPLATE&tmeid=XzY4bzM0YzloNjBvamVsMWk2OG9qZ2QxamI4bWoyZTloNmNvMzBjMWs3MHNrMHJiMWU5cW04cnJrNXBobXVyOCBocGtzNnY0Zjc3OHUwcmFxMXVyajY3djJjNEBn&tmsrc=hpks6v4f778u0raq1urj67v2c4%40group.calendar.google.com', target: :_blank, rel: 'noopener' %></p>
      </div>
      <div class="col-md-6 text-center">
        <h2><%= link_to @google_maps_url do -%>
          <%= render partial: 'map_marker_svg' %>
        <%- end %></h2>
        <p>
          <%= render partial: 'wedding_address' %>
        </p>
        <p>
          <%= link_to 'Google Maps', @google_maps_venue_url, target: :_blank, rel: 'noopener' %>
        </p>
      </div>
    </div>
  </div>
</section>
