<!DOCTYPE html>
<html>
  <head>
    <%# define metadata %>
    <title><%= t :wedding_name %></title>
    <meta name="description" content="<%= meta_description %>">
    <%# guide for meta property: https://www.lewagon.com/blog/setup-meta-tags-rails %>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= t :wedding_name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= ENV['CANONICAL_HOST'] %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= t :wedding_name %>" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: flash_class(key)) do -%>
        <%= value %>
      <% end -%>
    <% end %>
    <%= yield %>
  </body>
</html>
